.heatmap-wrap {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    background: #0b2a1a;
}

.pitch-canvas,
.heatmap-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
